### Recommendation Systems has 3 types:
     #### 1. Content-Based
     #### 2. Collaborative Filtering
     #### 3. Hybrid.

In [2]:
!pip install langdetect

Requirement already satisfied: langdetect in c:\users\arpan\anaconda3\lib\site-packages (1.0.9)
Requirement already satisfied: six in c:\users\arpan\anaconda3\lib\site-packages (from langdetect) (1.16.0)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
import nltk
import warnings
warnings.filterwarnings('ignore')

In [4]:
import sklearn
# Importing train_test_split for splitting datasets
from sklearn.model_selection import train_test_split

# Importing LogisticRegression for classification
from sklearn.linear_model import LogisticRegression

# Importing StandardScaler for scaling features
from sklearn.preprocessing import StandardScaler

In [5]:
df_rating= pd.read_csv("ratings.csv")
df_small_rating= pd.read_csv("ratings_small.csv")
df_movie= pd.read_csv("movies_metadata.csv")
df_credits= pd.read_csv("credits.csv")
df_key= pd.read_csv("keywords.csv")
df_links= pd.read_csv("links.csv")

In [6]:
df_movie.shape

(45466, 24)

In [7]:
print(type(df_movie))

<class 'pandas.core.frame.DataFrame'>

In [8]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [9]:
df_movie.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [10]:
df_movie.sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
17830,False,NaN,1000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,33555,tt1522835,en,Sherlock Holmes,Sherlock Holmes and Watson are on the trail of...,...,2010-01-26,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The world's greatest detective has finally met...,Sherlock Holmes,False,5.5,41.0
8336,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,875,tt0023458,en,Shanghai Express,Shanghai Express is an American love story and...,...,1932-02-02,0.0,80.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,NaN,Shanghai Express,False,6.5,37.0
39876,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,5856,tt0091221,en,Hotel St. Pauli,Jor and Gerda is a loving couple that lives to...,...,1988-03-03,0.0,121.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Hotel St. Pauli,False,0.0,0.0
41372,False,NaN,0,[],NaN,216647,tt0099065,de,Aschenputtel,NaN,...,1989-01-01,0.0,NaN,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Aschenputtel,False,0.0,0.0
4770,False,NaN,24000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,14369,tt0253798,en,Out Cold,Animal House meets Casablanca in this outrageo...,...,2001-11-21,14782676.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"They haven't quite figured it all out, but the...",Out Cold,False,5.8,53.0

In [11]:
df_credits.shape

(45476, 3)

In [12]:
df_credits.head(1)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862

In [13]:
df_key.shape

(46419, 2)

In [14]:
df_key.head(1)

    id                                           keywords
0  862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...

In [15]:
df_links.shape

(45843, 3)

In [16]:
df_links.head(1)

   movieId  imdbId  tmdbId
0        1  114709   862.0

In [17]:
df_rating.shape

(26024289, 4)

In [18]:
df_rating.head(1)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529

In [19]:
df_small_rating.shape

(100004, 4)

In [20]:
df_small_rating.head(1)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [21]:
df_movie.shape

(45466, 24)

In [22]:
df_movie.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [23]:
df_movie.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [24]:
df_key.columns

Index(['id', 'keywords'], dtype='object')

In [25]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [26]:
df_key.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [27]:
print(df_movie['id'].unique())

['862' '8844' '15602' ... '67758' '227506' '461257']

In [28]:
df_movie['id'] = pd.to_numeric(df_movie['id'], errors='coerce')  # Converts invalid values to NaN

In [29]:
df_movie = df_movie.dropna(subset=['id'])

In [30]:
df_movie['id'] = df_movie['id'].astype('int64')

In [31]:
movies=df_movie.merge(df_key,on="id")

In [32]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46477,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"[{'id': 10703, 'name': 'tragic love'}]"
46478,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,..."
46479,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,[]
46480,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,[]
46481,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,[]

In [33]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [34]:
movies= movies.merge(df_credits,on="id")

In [35]:
movies.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [36]:
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [37]:
df_small_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [38]:
rating= pd.concat([df_small_rating, df_rating], ignore_index=True)
rating.head(1)
print(rating.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26124293 entries, 0 to 26124292
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 797.3 MB
None

In [39]:
#change the name "User_id" to id, so I can add  it to the movies dataset
rating=rating.rename(columns={'userId': 'id'})

In [40]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46628 entries, 0 to 46627
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  46628 non-null  object
 1   belongs_to_collection  4574 non-null   object
 2   budget                 46628 non-null  object
 3   genres                 46628 non-null  object
 4   homepage               8009 non-null   object
 5   id                     46628 non-null  int64
 6   imdb_id                46611 non-null  object
 7   original_language      46617 non-null  object
 8   original_title         46628 non-null  object
 9   overview               45633 non-null  object
 10  popularity             46624 non-null  object
 11  poster_path            46229 non-null  object
 12  production_companies   46624 non-null  object
 13  production_countries   46624 non-null  object
 14  release_date           46540 non-null  object
 15  revenue                46624 non-null  float64
 16  runtime                46360 non-null  float64
 17  spoken_languages       46624 non-null  object
 18  status                 46542 non-null  object
 19  tagline                20783 non-null  object
 20  title                  46624 non-null  object
 21  video                  46624 non-null  object
 22  vote_average           46624 non-null  float64
 23  vote_count             46624 non-null  float64
 24  keywords               46628 non-null  object
 25  cast                   46628 non-null  object
 26  crew                   46628 non-null  object
dtypes: float64(4), int64(1), object(22)
memory usage: 9.6+ MB

In [41]:
movies= movies.merge(rating,on="id")

In [42]:
movies.sample(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,keywords,cast,crew,movieId,rating,timestamp
225771,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,16084,tt0076054,en,Freaky Friday,"School girl Annabel is hassled by her mother, ...",...,Freaky Friday,False,6.3,64.0,[],"[{'cast_id': 2, 'character': 'Annabel Andrews'...","[{'credit_id': '575e0065c3a3687bbc000599', 'de...",6493,3.0,1425790888
3595981,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.kony2012.com/sharefilm/,94587,tt2294697,en,Kony 2012,Kony 2012 is a film created by Invisible Child...,...,Kony 2012,False,4.4,7.0,[],[],"[{'credit_id': '557efdca9251410a350023a6', 'de...",3564,1.0,1042401301
295945,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",NaN,68426,tt0184510,en,Get Bruce!,"Affectionate tribute to Bruce Vilanch, who wri...",...,Get Bruce!,False,6.2,3.0,[],"[{'cast_id': 1008, 'character': 'Herself', 'cr...","[{'credit_id': '52fe4792c3a368484e0ce4c5', 'de...",1,4.0,856643302

In [43]:
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  45843 non-null  int64
 1   imdbId   45843 non-null  int64
 2   tmdbId   45624 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.0 MB

In [44]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3959219 entries, 0 to 3959218
Data columns (total 30 columns):
 #   Column                 Dtype
---  ------                 -----
 0   adult                  object
 1   belongs_to_collection  object
 2   budget                 object
 3   genres                 object
 4   homepage               object
 5   id                     int64
 6   imdb_id                object
 7   original_language      object
 8   original_title         object
 9   overview               object
 10  popularity             object
 11  poster_path            object
 12  production_companies   object
 13  production_countries   object
 14  release_date           object
 15  revenue                float64
 16  runtime                float64
 17  spoken_languages       object
 18  status                 object
 19  tagline                object
 20  title                  object
 21  video                  object
 22  vote_average           float64
 23  vote_count             float64
 24  keywords               object
 25  cast                   object
 26  crew                   object
 27  movieId                int64
 28  rating                 float64
 29  timestamp              int64
dtypes: float64(5), int64(3), object(22)
memory usage: 906.2+ MB

In [45]:
movies.isnull().sum()

adult                          0
belongs_to_collection    3530677
budget                         0
genres                         0
homepage                 3328257
id                             0
imdb_id                      890
original_language            208
original_title                 0
overview                   58262
popularity                  1058
poster_path                14585
production_companies        1058
production_countries        1058
release_date                3182
revenue                     1058
runtime                    10288
spoken_languages            1058
status                      7883
tagline                  2104952
title                       1058
video                       1058
vote_average                1058
vote_count                  1058
keywords                       0
cast                           0
crew                           0
movieId                        0
rating                         0
timestamp                      0
dtype: int64

In [46]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'keywords', 'cast', 'crew', 'movieId',
       'rating', 'timestamp'],
      dtype='object')

#### Collaborative Filtering

In [48]:
# collab= movies[["userId"'(create or map if missing)"movieId","rating","timestamp"]]

#### Popularity-Based Recommendation

In [50]:
# pop=[['popularity','vote_average','vote_count','release_date','original_title']]

#### Content-Based Filtering

In [52]:
con_mov_df = movies[[
    "genres","cast","crew",
    "overview","keywords",
    "title" , "id","adult"
]]

In [53]:
con_mov_df.head(5)

,genres,cast,crew,overview,keywords,title,id,adult
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Led by Woody, Andy's toys live happily in his ...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",Toy Story,862,False
1,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Led by Woody, Andy's toys live happily in his ...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",Toy Story,862,False
2,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Led by Woody, Andy's toys live happily in his ...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",Toy Story,862,False
3,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Led by Woody, Andy's toys live happily in his ...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",Toy Story,862,False
4,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Led by Woody, Andy's toys live happily in his ...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",Toy Story,862,False

In [54]:
con_mov_df.isnull().sum()

genres          0
cast            0
crew            0
overview    58262
keywords        0
title        1058
id              0
adult           0
dtype: int64

In [55]:
con_mov_df["overview"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3959219 entries, 0 to 3959218
Series name: overview
Non-Null Count    Dtype
--------------    -----
3900957 non-null  object
dtypes: object(1)
memory usage: 30.2+ MB

In [56]:
overview= (100/3959218)*58262
print("Percentage of missing data in overview column is: ",overview)

Percentage of missing data in overview column is:  1.471553220863312

In [57]:
con_mov_df["title"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3959219 entries, 0 to 3959218
Series name: title
Non-Null Count    Dtype
--------------    -----
3958161 non-null  object
dtypes: object(1)
memory usage: 30.2+ MB

In [58]:
title= (100/3959218)*1058
print("Percentage of missing data in title column is: ",title)

Percentage of missing data in title column is:  0.026722448725985788

In [59]:
con_mov_df.dropna(inplace=True)

In [60]:
con_mov_df.isnull().sum()

genres      0
cast        0
crew        0
overview    0
keywords    0
title       0
id          0
adult       0
dtype: int64

In [61]:
con_mov_df.duplicated().sum()

3861056

In [62]:
con_mov_df.shape

(3899899, 8)

In [63]:
(100/3899899)* 3861056 ## I'll handel it later

99.00399984717554

In [64]:
con_mov_df.drop_duplicates(inplace=True)

In [65]:
con_mov_df.duplicated().sum()

0

In [66]:
con_mov_df.head()

,genres,cast,crew,overview,keywords,title,id,adult
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Led by Woody, Andy's toys live happily in his ...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",Toy Story,862,False
15,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",When siblings Judy and Peter discover an encha...,"[{'id': 10090, 'name': 'board game'}, {'id': 1...",Jumanji,8844,False
77,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",A family wedding reignites the ancient feud be...,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",Grumpier Old Men,15602,False
145,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","Cheated on, mistreated and stepped on, the wom...","[{'id': 818, 'name': 'based on novel'}, {'id':...",Waiting to Exhale,31357,False
151,"[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Just when George Banks has recovered from his ...,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",Father of the Bride Part II,11862,False

In [67]:
con_mov_df.iloc[0].genres

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [68]:
# working on genres,cast,crew and keywords, to covert them in to a lost format

In [69]:
def convert(obj):
    l=[] #making a list to store
    for i in ast.literal_eval(obj):
        l.append(i["name"])
    return l

In [70]:
con_mov_df["genres"]=con_mov_df["genres"].apply(convert)

In [71]:
con_mov_df["genres"]

0           [Animation, Comedy, Family]
15         [Adventure, Fantasy, Family]
77                    [Romance, Comedy]
145            [Comedy, Drama, Romance]
151                            [Comedy]
                       ...
3958783               [Science Fiction]
3958832        [Drama, Action, Romance]
3959125                         [Drama]
3959178       [Action, Drama, Thriller]
3959201                              []
Name: genres, Length: 38843, dtype: object

In [72]:
def actor(obj):
    l=[] #making a list to store
    counter= 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            l.append(i["name"])
            counter += 1
        else:
            break
    return l

In [73]:
# Apply the function to the 'cast' column
con_mov_df["cast"] = con_mov_df["cast"].apply(actor)

In [74]:
con_mov_df["keywords"]=con_mov_df["keywords"].apply(convert)

In [75]:
con_mov_df.iloc[0].crew

'[{\'credit_id\': \'52fe4284c3a36847f8024f49\', \'department\': \'Directing\', \'gender\': 2, \'id\': 7879, \'job\': \'Director\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f4f\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12891, \'job\': \'Screenplay\', \'name\': \'Joss Whedon\', \'profile_path\': \'/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f55\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Screenplay\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f5b\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12892, \'job\': \'Screenplay\', \'name\': \'Joel Cohen\', \'profile_path\': \'/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f61\', \'department\': \'Writing\', \'gender\': 0, \'id\': 12893, \'job\': \'Screenplay\', \'name\': \'Alec Sokolow\', \'profile_path\': \'/v79vlRYi94BZUQnkkyznbGUZLjT.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f67\', \'department\': \'Production\', \'gender\': 1, \'id\': 12894, \'job\': \'Producer\', \'name\': \'Bonnie Arnold\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f6d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12895, \'job\': \'Executive Producer\', \'name\': \'Ed Catmull\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f73\', \'department\': \'Production\', \'gender\': 2, \'id\': 12896, \'job\': \'Producer\', \'name\': \'Ralph Guggenheim\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f79\', \'department\': \'Production\', \'gender\': 2, \'id\': 12897, \'job\': \'Executive Producer\', \'name\': \'Steve Jobs\', \'profile_path\': \'/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f8b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 8, \'job\': \'Editor\', \'name\': \'Lee Unkrich\', \'profile_path\': \'/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f91\', \'department\': \'Art\', \'gender\': 2, \'id\': 7883, \'job\': \'Art Direction\', \'name\': \'Ralph Eggleston\', \'profile_path\': \'/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg\'}, {\'credit_id\': \'598331bf925141421201044b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 1168870, \'job\': \'Editor\', \'name\': \'Robert Gordon\', \'profile_path\': None}, {\'credit_id\': \'5892168cc3a36809660095f9\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1552883, \'job\': \'Foley Editor\', \'name\': \'Mary Helen Leasman\', \'profile_path\': None}, {\'credit_id\': \'5531824d9251415289000945\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1453514, \'job\': \'Animation\', \'name\': \'Kim Blanchette\', \'profile_path\': None}, {\'credit_id\': \'589215969251412dcb009bf6\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414182, \'job\': \'ADR Editor\', \'name\': \'Marilyn McCoppen\', \'profile_path\': None}, {\'credit_id\': \'589217099251412dc500a018\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Orchestrator\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5693e6b29251417b0e0000e3\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1429549, \'job\': \'Color Timer\', \'name\': \'Dale E. Grahn\', \'profile_path\': None}, {\'credit_id\': \'572e2522c3a36869e6001a9c\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7949, \'job\': \'CG Painter\', \'name\': \'Robin Cooper\', \'profile_path\': None}, {\'credit_id\': \'574f12309251415ca1000012\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7879, \'job\': \'Original Story\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'574f1240c3a3682e7300001c\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12890, \'job\': \'Original Story\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'574f12519251415c92000015\', \'department\': \'Writing\', \'gender\': 0, \'id\': 7911, \'job\': \'Original Story\', \'name\': \'Joe Ranft\', \'profile_path\': \'/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg\'}, {\'credit_id\': \'574f12cec3a3682e82000022\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1629419, \'job\': \'Post Production Supervisor\', \'name\': \'Patsy Bouge\', \'profile_path\': None}, {\'credit_id\': \'574f14f19251415ca1000082\', \'department\': \'Art\', \'gender\': 0, \'id\': 7961, \'job\': \'Sculptor\', \'name\': \'Norm DeCarlo\', \'profile_path\': None}, {\'credit_id\': \'5751ae4bc3a3683772002b7f\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 12905, \'job\': \'Animation Director\', \'name\': \'Ash Brannon\', \'profile_path\': \'/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg\'}, {\'credit_id\': \'5891edbe9251412dc5007cd6\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Music\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'589213d39251412dc8009832\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748707, \'job\': \'Layout\', \'name\': \'Roman Figun\', \'profile_path\': None}, {\'credit_id\': \'5892173dc3a3680968009351\', \'department\': \'Sound\', \'gender\': 2, \'id\': 4949, \'job\': \'Orchestrator\', \'name\': \'Don Davis\', \'profile_path\': None}, {\'credit_id\': \'589217cec3a3686b0a0052ba\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1372885, \'job\': \'Music Editor\', \'name\': \'James Flamberg\', \'profile_path\': None}, {\'credit_id\': \'58921831c3a3686348004a64\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1739962, \'job\': \'Negative Cutter\', \'name\': \'Mary Beth Smith\', \'profile_path\': None}, {\'credit_id\': \'58921838c3a36809700096c0\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748513, \'job\': \'Negative Cutter\', \'name\': \'Rick Mackay\', \'profile_path\': None}, {\'credit_id\': \'589218429251412dd1009d1b\', \'department\': \'Art\', \'gender\': 0, \'id\': 1458006, \'job\': \'Title Designer\', \'name\': \'Susan Bradley\', \'profile_path\': None}, {\'credit_id\': \'5891ed99c3a3680966007670\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1748557, \'job\': \'Supervising Technical Director\', \'name\': \'William Reeves\', \'profile_path\': None}, {\'credit_id\': \'5891edcec3a3686b0a002eb2\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Songs\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5891edf9c3a36809700075e6\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Original Story\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58920f0b9251412dd7009104\', \'department\': \'Crew\', \'gender\': 2, \'id\': 12890, \'job\': \'Supervising Animator\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'58920f1fc3a3680977009021\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Designer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'58920f389251412dd700912d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12909, \'job\': \'Production Supervisor\', \'name\': \'Karen Robert Jackson\', \'profile_path\': None}, {\'credit_id\': \'58920fbd9251412dcb00969c\', \'department\': \'Crew\', \'gender\': 0, \'id\': 953331, \'job\': \'Executive Music Producer\', \'name\': \'Chris Montan\', \'profile_path\': None}, {\'credit_id\': \'589210069251412dd7009219\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7893, \'job\': \'Animation Director\', \'name\': \'Rich Quade\', \'profile_path\': None}, {\'credit_id\': \'589210329251412dcd00943b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8025, \'job\': \'Animation\', \'name\': \'Michael Berenstein\', \'profile_path\': None}, {\'credit_id\': \'5892103bc3a368096a009180\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 78009, \'job\': \'Animation\', \'name\': \'Colin Brady\', \'profile_path\': None}, {\'credit_id\': \'5892105dc3a3680968008db2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748682, \'job\': \'Animation\', \'name\': \'Davey Crockett Feiten\', \'profile_path\': None}, {\'credit_id\': \'589210669251412dcd009466\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454030, \'job\': \'Animation\', \'name\': \'Angie Glocka\', \'profile_path\': None}, {\'credit_id\': \'5892107c9251412dd1009613\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748683, \'job\': \'Animation\', \'name\': \'Rex Grignon\', \'profile_path\': None}, {\'credit_id\': \'5892108ac3a3680973008d3f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748684, \'job\': \'Animation\', \'name\': \'Tom K. Gurney\', \'profile_path\': None}, {\'credit_id\': \'58921093c3a3686348004477\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 8029, \'job\': \'Animation\', \'name\': \'Jimmy Hayward\', \'profile_path\': \'/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg\'}, {\'credit_id\': \'5892109b9251412dcd0094b0\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1426773, \'job\': \'Animation\', \'name\': \'Hal T. Hickel\', \'profile_path\': None}, {\'credit_id\': \'589210a29251412dc5009a29\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8035, \'job\': \'Animation\', \'name\': \'Karen Kiser\', \'profile_path\': None}, {\'credit_id\': \'589210ccc3a3680977009191\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748688, \'job\': \'Animation\', \'name\': \'Anthony B. LaMolinara\', \'profile_path\': None}, {\'credit_id\': \'589210d7c3a3686b0a004c1f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 587314, \'job\': \'Animation\', \'name\': \'Guionne Leroy\', \'profile_path\': None}, {\'credit_id\': \'589210e1c3a36809770091a7\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Animation\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'589210ee9251412dc200978a\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748689, \'job\': \'Animation\', \'name\': \'Les Major\', \'profile_path\': None}, {\'credit_id\': \'589210fa9251412dc8009595\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7892, \'job\': \'Animation\', \'name\': \'Glenn McQueen\', \'profile_path\': None}, {\'credit_id\': \'589211029251412dc8009598\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 555795, \'job\': \'Animation\', \'name\': \'Mark Oftedal\', \'profile_path\': None}, {\'credit_id\': \'5892110b9251412dc800959d\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7882, \'job\': \'Animation\', \'name\': \'Jeff Pidgeon\', \'profile_path\': \'/yLddkg5HcgbJg00cS13GVBnP0HY.jpg\'}, {\'credit_id\': \'58921113c3a36863480044e4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8017, \'job\': \'Animation\', \'name\': \'Jeff Pratt\', \'profile_path\': None}, {\'credit_id\': \'5892111c9251412dcb0097e9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1184140, \'job\': \'Animation\', \'name\': \'Steve Rabatich\', \'profile_path\': None}, {\'credit_id\': \'58921123c3a36809700090f6\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8049, \'job\': \'Animation\', \'name\': \'Roger Rose\', \'profile_path\': None}, {\'credit_id\': \'5892112b9251412dcb0097fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1509559, \'job\': \'Animation\', \'name\': \'Steve Segal\', \'profile_path\': None}, {\'credit_id\': \'589211349251412dc80095c3\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748691, \'job\': \'Animation\', \'name\': \'Doug Sheppeck\', \'profile_path\': None}, {\'credit_id\': \'5892113cc3a3680970009106\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8050, \'job\': \'Animation\', \'name\': \'Alan Sperling\', \'profile_path\': None}, {\'credit_id\': \'58921148c3a3686b0a004c99\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8010, \'job\': \'Animation\', \'name\': \'Doug Sweetland\', \'profile_path\': None}, {\'credit_id\': \'58921150c3a3680966009125\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8044, \'job\': \'Animation\', \'name\': \'David Tart\', \'profile_path\': None}, {\'credit_id\': \'589211629251412dc5009b00\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454034, \'job\': \'Animation\', \'name\': \'Ken Willard\', \'profile_path\': None}, {\'credit_id\': \'589211c1c3a3686b0a004d28\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7887, \'job\': \'Visual Effects Supervisor\', \'name\': \'Thomas Porter\', \'profile_path\': None}, {\'credit_id\': \'589211d4c3a3680968008ed9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1406878, \'job\': \'Visual Effects\', \'name\': \'Mark Thomas Henne\', \'profile_path\': None}, {\'credit_id\': \'589211f59251412dd4008e65\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748698, \'job\': \'Visual Effects\', \'name\': \'Oren Jacob\', \'profile_path\': None}, {\'credit_id\': \'58921242c3a368096a00939b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748699, \'job\': \'Visual Effects\', \'name\': \'Darwyn Peachey\', \'profile_path\': None}, {\'credit_id\': \'5892124b9251412dc5009bd2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748701, \'job\': \'Visual Effects\', \'name\': \'Mitch Prater\', \'profile_path\': None}, {\'credit_id\': \'58921264c3a3686b0a004dbf\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748703, \'job\': \'Visual Effects\', \'name\': \'Brian M. Rosen\', \'profile_path\': None}, {\'credit_id\': \'589212709251412dcd009676\', \'department\': \'Lighting\', \'gender\': 1, \'id\': 12912, \'job\': \'Lighting Supervisor\', \'name\': \'Sharon Calahan\', \'profile_path\': None}, {\'credit_id\': \'5892127fc3a3686b0a004de5\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 7899, \'job\': \'Lighting Supervisor\', \'name\': \'Galyn Susman\', \'profile_path\': None}, {\'credit_id\': \'589212cdc3a3680970009268\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'CG Painter\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892130f9251412dc8009791\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748705, \'job\': \'Sculptor\', \'name\': \'Shelley Daniels Lekven\', \'profile_path\': None}, {\'credit_id\': \'5892131c9251412dd4008f4c\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7889, \'job\': \'Character Designer\', \'name\': \'Bob Pauley\', \'profile_path\': None}, {\'credit_id\': \'589213249251412dd100987b\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Character Designer\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'5892132b9251412dc80097b1\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7, \'job\': \'Character Designer\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58921332c3a368634800467b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'Character Designer\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892135f9251412dd4008f90\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748706, \'job\': \'Character Designer\', \'name\': \'Steve Johnson\', \'profile_path\': None}, {\'credit_id\': \'58921384c3a3680973008fd4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1176752, \'job\': \'Character Designer\', \'name\': \'Dan Haskett\', \'profile_path\': None}, {\'credit_id\': \'5892138e9251412dc20099fc\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1088034, \'job\': \'Character Designer\', \'name\': \'Tom Holloway\', \'profile_path\': \'/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg\'}, {\'credit_id\': \'58921395c3a368097700942f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1447465, \'job\': \'Character Designer\', \'name\': \'Jean Gillmore\', \'profile_path\': None}, {\'credit_id\': \'589213e2c3a3680973009026\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748709, \'job\': \'Layout\', \'name\': \'Desirée Mourad\', \'profile_path\': None}, {\'credit_id\': \'589214099251412dc5009d57\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748710, \'job\': \'Set Dresser\', \'name\': "Kelly O\'Connell", \'profile_path\': None}, {\'credit_id\': \'58921411c3a3686b0a004f70\', \'department\': \'Art\', \'gender\': 0, \'id\': 1443471, \'job\': \'Set Dresser\', \'name\': \'Sonoko Konishi\', \'profile_path\': None}, {\'credit_id\': \'58921434c3a368096a00956e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748711, \'job\': \'Set Dresser\', \'name\': \'Ann M. Rockwell\', \'profile_path\': None}, {\'credit_id\': \'5892144ac3a36809680090de\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748712, \'job\': \'Editorial Manager\', \'name\': \'Julie M. McDonald\', \'profile_path\': None}, {\'credit_id\': \'58921479c3a368096800910f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1589729, \'job\': \'Assistant Editor\', \'name\': \'Robin Lee\', \'profile_path\': None}, {\'credit_id\': \'5892148b9251412dd10099cc\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748716, \'job\': \'Assistant Editor\', \'name\': \'Tom Freeman\', \'profile_path\': None}, {\'credit_id\': \'589214959251412dcb009b1f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748717, \'job\': \'Assistant Editor\', \'name\': \'Ada Cochavi\', \'profile_path\': None}, {\'credit_id\': \'5892149ec3a3686348004798\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1336438, \'job\': \'Assistant Editor\', \'name\': \'Dana Mulligan\', \'profile_path\': None}, {\'credit_id\': \'589214adc3a368096a0095db\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748718, \'job\': \'Editorial Coordinator\', \'name\': \'Deirdre Morrison\', \'profile_path\': None}, {\'credit_id\': \'589214c7c3a368097700952b\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748719, \'job\': \'Production Coordinator\', \'name\': \'Lori Lombardo\', \'profile_path\': None}, {\'credit_id\': \'589214cec3a368096a009603\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748720, \'job\': \'Production Coordinator\', \'name\': \'Ellen Devine\', \'profile_path\': None}, {\'credit_id\': \'589214e39251412dc8009904\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1468014, \'job\': \'Unit Publicist\', \'name\': \'Lauren Beth Strogoff\', \'profile_path\': None}, {\'credit_id\': \'58921544c3a3686b0a00507d\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'5892154c9251412dd1009a56\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1425978, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Summers\', \'profile_path\': None}, {\'credit_id\': \'58921555c3a36809680091bd\', \'department\': \'Sound\', \'gender\': 2, \'id\': 8276, \'job\': \'Supervising Sound Editor\', \'name\': \'Tim Holland\', \'profile_path\': None}, {\'credit_id\': \'589215c39251412dcb009c12\', \'department\': \'Sound\', \'gender\': 0, \'id\': 7069, \'job\': \'Sound Effects Editor\', \'name\': \'Pat Jackson\', \'profile_path\': None}, {\'credit_id\': \'58921698c3a368096a009788\', \'department\': \'Crew\', \'gender\': 2, \'id\': 15894, \'job\': \'Sound Design Assistant\', \'name\': \'Tom Myers\', \'profile_path\': None}, {\'credit_id\': \'589216a89251412dc2009ca4\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414177, \'job\': \'Assistant Sound Editor\', \'name\': \'J.R. 

In [76]:
def director(obj):
    l=[] #making a list to store
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            l.append(i["name"])
            break
    return l

In [77]:
con_mov_df["crew"]=con_mov_df["crew"].apply(director)

In [78]:
con_mov_df.head(50)

,genres,cast,crew,overview,keywords,title,id,adult
0,"[Animation, Comedy, Family]","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter],"Led by Woody, Andy's toys live happily in his ...","[jealousy, toy, boy, friendship, friends, riva...",Toy Story,862,False
15,"[Adventure, Fantasy, Family]","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston],When siblings Judy and Peter discover an encha...,"[board game, disappearance, based on children'...",Jumanji,8844,False
77,"[Romance, Comedy]","[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch],A family wedding reignites the ancient feud be...,"[fishing, best friend, duringcreditsstinger, o...",Grumpier Old Men,15602,False
145,"[Comedy, Drama, Romance]","[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker],"Cheated on, mistreated and stepped on, the wom...","[based on novel, interracial relationship, sin...",Waiting to Exhale,31357,False
151,[Comedy],"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer],Just when George Banks has recovered from his ...,"[baby, midlife crisis, confidence, aging, daug...",Father of the Bride Part II,11862,False
222,"[Action, Crime, Drama, Thriller]","[Al Pacino, Robert De Niro, Val Kilmer]",[Michael Mann],"Obsessive master thief, Neil McCauley leads a ...","[robbery, detective, bank, obsession, chase, s...",Heat,949,False
278,"[Comedy, Romance]","[Harrison Ford, Julia Ormond, Greg Kinnear]",[Sydney Pollack],An ugly duckling having undergone a remarkable...,"[paris, brother brother relationship, chauffeu...",Sabrina,11860,False
296,"[Action, Adventure, Drama, Family]","[Jonathan Taylor Thomas, Brad Renfro, Rachael ...",[Peter Hewitt],"A mischievous young boy, Tom Sawyer, witnesses...",[],Tom and Huck,45325,False
306,"[Action, Adventure, Thriller]","[Jean-Claude Van Damme, Powers Boothe, Dorian ...",[Peter Hyams],International action superstar Jean Claude Van...,"[terrorist, hostage, explosive, vice president]",Sudden Death,9091,False
373,"[Adventure, Action, Thriller]","[Pierce Brosnan, Sean Bean, Izabella Scorupco]",[Martin Campbell],James Bond must unmask the mysterious head of ...,"[cuba, falsely accused, secret identity, compu...",GoldenEye,710,False
428,"[Comedy, Drama, Romance]","[Michael Douglas, Annette Bening, Michael J. Fox]",[Rob Reiner],"Widowed U.S. president Andrew Shepherd, one of...","[white house, usa president, new love, widower...",The American President,9087,False
433,"[Comedy, Horror]","[Leslie Nielsen, Mel Brooks, Amy Yasbeck]",[Mel Brooks],When a lawyer shows up at the vampire's doorst...,"[dracula, spoof]",Dracula: Dead and Loving It,12110,False
763,"[Family, Animation, Adventure]","[Kevin Bacon, Bob Hoskins, Bridget Fonda]",[Simon Wells],An outcast half-wolf risks his life to prevent...,"[wolf, dog-sledding race, alaska, dog, goose, ...",Balto,21032,False
770,"[History, Drama]","[Anthony Hopkins, Joan Allen, Powers Boothe]",[Oliver Stone],An all-star cast powers this epic look at Amer...,"[usa president, presidential election, waterga...",Nixon,10858,False
785,"[Action, Adventure]","[Geena Davis, Matthew Modine, Frank Langella]",[Renny Harlin],"Morgan Adams and her slave, William Shaw, are ...","[exotic island, treasure, map, ship, scalp, pi...",Cutthroat Island,1408,False
931,"[Drama, Crime]","[Robert De Niro, Sharon Stone, Joe Pesci]",[Martin Scorsese],The life of the gambling paradise – Las Vegas ...,"[poker, drug abuse, 1970s, overdose, illegal p...",Casino,524,False
1091,"[Drama, Romance]","[Kate Winslet, Emma Thompson, Hugh Grant]",[Ang Lee],"Rich Mr. Dashwood dies, leaving his second wif...","[bowling, based on novel, servant, country lif...",Sense and Sensibility,4584,False
1100,"[Crime, Comedy]","[Tim Roth, Antonio Banderas, Jennifer Beals]",[Allison Anders],It's Ted the Bellhop's first night on the job....,"[hotel, new year's eve, witch, bet, hotel room...",Four Rooms,5,False
1226,"[Crime, Comedy, Adventure]","[Jim Carrey, Ian McNeice, Simon Callow]",[Steve Oedekerk],"Summoned from an ashram in Tibet, Ace finds hi...","[africa, indigenous, human animal relationship...",Ace Ventura: When Nature Calls,9273,False
1376,"[Action, Comedy, Crime]","[Wesley Snipes, Woody Harrelson, Jennifer Lopez]",[Joseph Ruben],A vengeful New York transit cop decides to ste...,"[brother brother relationship, subway, new yor...",Money Train,11517,False
1511,"[Comedy, Thriller, Crime]","[John Travolta, Gene Hackman, Rene Russo]",[Barry Sonnenfeld],Chili Palmer is a Miami mobster who gets sent ...,"[gambling, miami, based on novel, job, murder,...",Get Shorty,8012,False
1845,"[Drama, Thriller]","[Sigourney Weaver, Holly Hunter, Will Patton]",[Jon Amiel],An agoraphobic psychologist and a female detec...,"[police brutality, psychology, police operatio...",Copycat,1710,False
1860,"[Action, Adventure, Crime, Thriller]","[Sylvester Stallone, Antonio Banderas, Juliann...",[Richard Donner],Assassin Robert Rath arrives at a funeral to k...,"[competition, assassination, cia, bank, cat, m...",Assassins,9691,False
1863,"[Drama, Fantasy, Science Fiction, Thriller]","[Mary Steenburgen, Sean Patrick Flanery, Lance...",[Victor Salva],Harassed by classmates who won't accept his sh...,"[dead animal, shot to death, teenage boy, held...",Powder,12665,False
1878,"[Drama, Romance]","[Nicolas Cage, Elisabeth Shue, Julian Sands]",[Mike Figgis],"Ben Sanderson, an alcoholic Hollywood screenwr...","[individual, prostitute, alcohol, casino, love...",Leaving Las Vegas,451,False
2059,[Drama],"[Laurence Fishburne, Irène Jacob, Kenneth Bran...",[Oliver Parker],The evil Iago pretends to be friend of Othello...,"[shakespeare, jealousy, friends, moor]",Othello,16420,False
2081,"[Comedy, Drama, Family]","[Christina Ricci, Rosie O'Donnell, Thora Birch]",[Lesli Linka Glatter],Waxing nostalgic about the bittersweet passage...,"[1970s, female friendship, coming of age, gyne...",Now and Then,9263,False
2272,"[Drama, Romance]","[Amanda Root, Ciarán Hinds, Susan Fleetwood]",[Roger Michell],This film adaptation of Jane Austen's last nov...,"[captain, napoleonic wars, old flame, admiral]",Persuasion,17015,False
2283,"[Fantasy, Science Fiction, Adventure]","[Ron Perlman, Dominique Pinon, Judith Vittet]",[Jean-Pierre Jeunet],A scientist in a surrealist society kidnaps ch...,"[clone, dream, island, eye, dystopia, aging, f...",The City of Lost Children,902,False
2293,"[Drama, Crime]","[Gong Li, Li Bao-Tian, Wang Xiaoxiao]",[Zhang Yimou],A provincial boy related to a Shanghai crime f...,"[servant, cabaret, shanghai, diva, uncle, mist...",Shanghai Triad,37557,False
2319,"[Drama, Crime]","[Michelle Pfeiffer, George Dzundza, Courtney B...",[John N. Smith],Former Marine Louanne Johnson lands a gig teac...,"[rap music, karate, high school, naval officer...",Dangerous Minds,9909,False
2329,"[Science Fiction, Thriller, Mystery]","[Bruce Willis, Madeleine Stowe, Brad Pitt]",[Terry Gilliam],"In the year 2035, convict James Cole reluctant...","[schizophrenia, philadelphia, cassandra syndro...",Twelve Monkeys,63,False
2611,"[Fantasy, Drama, Comedy, Family]","[Christine Cavanaugh, Miriam Margolyes, Danny ...",[Chris Noonan],Babe is a little pig who doesn't quite know hi...,"[sheep, pig, affection, piglet, heroism, talki...",Babe,9598,False
2621,"[History, Drama, Romance]","[Emma Thompson, Jonathan Pryce, Steven Wadding...",[Christopher Hampton],The story of the relationship between painter ...,"[england, painter, conscientious objector, ind...",Carrington,47018,False
2623,[Drama],"[Susan Sarandon, Sean Penn, Robert Prosky]",[Tim Robbins],A justice drama based on a true story about a ...,"[prison, rape, socially deprived family, penal...",Dead Man Walking,687,False
2665,"[Adventure, History, Drama, Family]","[Peter Reznick, John McDonough, Avi Hoffman]",[Stephen Low],"A young Russian boy, Thomas Minton, travels to...",[],Across the Sea of Time,139405,False
2734,"[Comedy, Family, Romance]","[Kirstie Alley, Steve Guttenberg, Ashley Olsen]",[Andy Tennant],Identical 9-year-olds from very different back...,"[orphan, identical twin]",It Takes Two,33689,False
2787,"[Comedy, Drama, Romance]","[Alicia Silverstone, Stacey Dash, Brittany Mur...",[Amy Heckerling],"Shallow, rich and socially successful Cher is ...","[puberty, high school, make a match, spoiled c...",Clueless,9603,False
2793,[Drama],"[James Earl Jones, Charles S. Dutton, Jack Rob...",[Darrell James Roodt],A South-African preacher goes to search for hi...,[south africa],"Cry, the Beloved Country",34615,False
2812,"[Drama, War]","[Ian McKellen, Annette Bening, Jim Broadbent]",[Richard Loncraine],Shakespeare's Play transplanted into a 1930s s...,"[england, shakespeare, kidnapping, murder, king]",Richard III,31174,False
2831,"[Action, Crime, Drama, History]","[Larenz Tate, Keith David, Chris Tucker]",[Albert Hughes],"Depicts a heist of old bills, retired from cir...","[money, loss of virginity, hiding in a dumpste...",Dead Presidents,11443,False
3216,"[Drama, Romance]","[Robert Downey Jr., Meg Ryan, Sam Neill]",[Michael Hoffman],"An aspiring young physician, Robert Merivel fo...","[jealousy, medicine, fountain, court, wealth, ...",Restoration,35196,False
3240,"[Action, Fantasy]","[Christopher Lambert, Robin Shou, Linden Ashby]",[Paul W.S. Anderson],For nine generations an evil sorcerer has been...,"[martial arts, monster, island, gore, sorcerer...",Mortal Kombat,9312,False
3241,"[Fantasy, Drama, Comedy, Thriller]","[Nicole Kidman, Matt Dillon, Joaquin Phoenix]",[Gus Van Sant],Susan wants to work in television and will the...,"[adultery, winter, obsession, television, new ...",To Die For,577,False
3524,"[Drama, Romance]","[Winona Ryder, Anne Bancroft, Ellen Burstyn]",[Jocelyn Moorhouse],Soon-to-be-wed graduate student Finn Dodd deve...,"[wedding vows, marriage proposal, married coup...",How To Make An American Quilt,11861,False
3591,"[Crime, Mystery, Thriller]","[Brad Pitt, Morgan Freeman, Gwyneth Paltrow]",[David Fincher],Two homicide detectives are on a desperate hun...,"[self-fulfilling prophecy, detective, s.w.a.t....",Se7en,807,False
3763,"[Adventure, Animation, Drama, Family]","[Irene Bedard, Mel Gibson, David Ogden Stiers]",[Mike Gabriel],History comes gloriously to life in Disney's e...,"[culture clash, settler, forbidden love, colon...",Pocahontas,10530,False
3872,"[Drama, Romance]","[Pascale Bussières, Rachael Crawford, Henry Cz...",[Patricia Rozema],"A prudish woman, working on tenure as a litera...","[professor, lgbt, woman director]",When Night Is Falling,8391,False
3881,"[Drama, Crime, Thriller]","[Stephen Baldwin, Gabriel Byrne, Chazz Palmint...",[Bryan Singer],"Held in an L.A. interrogation room, Verbal Kin...","[law, relatives, theft, criminal, criminal mas...",The Usual Suspects,629,False
3928,"[Action, Thriller, Drama]","[Cynthia Rothrock, Marshall R. Teague, Daniel ...",[Richard W. Munchkin],Detective - turned - bodyguard Cynthia McKay (...,[],Guardian Angel,117164,False

In [79]:
## Now converting overview from string to list so that we can concatenate it with other lists
con_mov_df["overview"]= con_mov_df["overview"].apply(lambda x:x.split())

In [80]:
con_mov_df

,genres,cast,crew,overview,keywords,title,id,adult
0,"[Animation, Comedy, Family]","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter],"[Led, by, Woody,, Andy's, toys, live, happily,...","[jealousy, toy, boy, friendship, friends, riva...",Toy Story,862,False
15,"[Adventure, Fantasy, Family]","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston],"[When, siblings, Judy, and, Peter, discover, a...","[board game, disappearance, based on children'...",Jumanji,8844,False
77,"[Romance, Comedy]","[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch],"[A, family, wedding, reignites, the, ancient, ...","[fishing, best friend, duringcreditsstinger, o...",Grumpier Old Men,15602,False
145,"[Comedy, Drama, Romance]","[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker],"[Cheated, on,, mistreated, and, stepped, on,, ...","[based on novel, interracial relationship, sin...",Waiting to Exhale,31357,False
151,[Comedy],"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer],"[Just, when, George, Banks, has, recovered, fr...","[baby, midlife crisis, confidence, aging, daug...",Father of the Bride Part II,11862,False
...,...,...,...,...,...,...,...,...
3958783,[Science Fiction],"[Lisa Boyle, Kena Land, Zaneta Polard]",[Aaron Osborne],"[It's, the, year, 3000, AD., The, world's, mos...",[],Caged Heat 3000,222848,False
3958832,"[Drama, Action, Romance]","[Patrick Bergin, Uma Thurman, David Morrissey]",[John Irvin],"[Yet, another, version, of, the, classic, epic...",[],Robin Hood,30840,False
3959125,[Drama],"[Angel Aquino, Perry Dizon, Hazel Orencio]",[Lav Diaz],"[An, artist, struggles, to, finish, his, work,...","[artist, play, pinoy]",Century of Birthing,111109,False
3959178,"[Action, Drama, Thriller]","[Erika Eleniak, Adam Baldwin, Julie du Page]",[Mark L. Lester],"[When, one, of, her, hits, goes, wrong,, a, pr...",[],Betrayal,67758,False
3959201,[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",[Yakov Protazanov],"[In, a, small, town, live, two, brothers,, one...",[],Satan Triumphant,227506,False

In [81]:
# Now clear the blank spaces between the words, for further conflict.
con_mov_df['genres'] = con_mov_df['genres'].apply(lambda x:[i.replace(" ","") for i in x])
con_mov_df['keywords'] = con_mov_df['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
con_mov_df['cast'] = con_mov_df['cast'].apply(lambda x:[i.replace(" ","") for i in x])
con_mov_df['crew'] = con_mov_df['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [82]:
con_mov_df['crew']

0             [JohnLasseter]
15             [JoeJohnston]
77            [HowardDeutch]
145         [ForestWhitaker]
151           [CharlesShyer]
                 ...
3958783       [AaronOsborne]
3958832          [JohnIrvin]
3959125            [LavDiaz]
3959178       [MarkL.Lester]
3959201    [YakovProtazanov]
Name: crew, Length: 38843, dtype: object

#### Creating the Tag column by merging up the overview, cast, crew, keywords, and genres column

In [84]:
con_mov_df['tags']= con_mov_df["overview"] + con_mov_df["cast"] + con_mov_df["crew"] + con_mov_df["keywords"] + con_mov_df["genres"]

In [85]:
con_mov_df

,genres,cast,crew,overview,keywords,title,id,adult,tags
0,"[Animation, Comedy, Family]","[TomHanks, TimAllen, DonRickles]",[JohnLasseter],"[Led, by, Woody,, Andy's, toys, live, happily,...","[jealousy, toy, boy, friendship, friends, riva...",Toy Story,862,False,"[Led, by, Woody,, Andy's, toys, live, happily,..."
15,"[Adventure, Fantasy, Family]","[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston],"[When, siblings, Judy, and, Peter, discover, a...","[boardgame, disappearance, basedonchildren'sbo...",Jumanji,8844,False,"[When, siblings, Judy, and, Peter, discover, a..."
77,"[Romance, Comedy]","[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch],"[A, family, wedding, reignites, the, ancient, ...","[fishing, bestfriend, duringcreditsstinger, ol...",Grumpier Old Men,15602,False,"[A, family, wedding, reignites, the, ancient, ..."
145,"[Comedy, Drama, Romance]","[WhitneyHouston, AngelaBassett, LorettaDevine]",[ForestWhitaker],"[Cheated, on,, mistreated, and, stepped, on,, ...","[basedonnovel, interracialrelationship, single...",Waiting to Exhale,31357,False,"[Cheated, on,, mistreated, and, stepped, on,, ..."
151,[Comedy],"[SteveMartin, DianeKeaton, MartinShort]",[CharlesShyer],"[Just, when, George, Banks, has, recovered, fr...","[baby, midlifecrisis, confidence, aging, daugh...",Father of the Bride Part II,11862,False,"[Just, when, George, Banks, has, recovered, fr..."
...,...,...,...,...,...,...,...,...,...
3958783,[ScienceFiction],"[LisaBoyle, KenaLand, ZanetaPolard]",[AaronOsborne],"[It's, the, year, 3000, AD., The, world's, mos...",[],Caged Heat 3000,222848,False,"[It's, the, year, 3000, AD., The, world's, mos..."
3958832,"[Drama, Action, Romance]","[PatrickBergin, UmaThurman, DavidMorrissey]",[JohnIrvin],"[Yet, another, version, of, the, classic, epic...",[],Robin Hood,30840,False,"[Yet, another, version, of, the, classic, epic..."
3959125,[Drama],"[AngelAquino, PerryDizon, HazelOrencio]",[LavDiaz],"[An, artist, struggles, to, finish, his, work,...","[artist, play, pinoy]",Century of Birthing,111109,False,"[An, artist, struggles, to, finish, his, work,..."
3959178,"[Action, Drama, Thriller]","[ErikaEleniak, AdamBaldwin, JulieduPage]",[MarkL.Lester],"[When, one, of, her, hits, goes, wrong,, a, pr...",[],Betrayal,67758,False,"[When, one, of, her, hits, goes, wrong,, a, pr..."
3959201,[],"[IwanMosschuchin, NathalieLissenko, PavelPavlov]",[YakovProtazanov],"[In, a, small, town, live, two, brothers,, one...",[],Satan Triumphant,227506,False,"[In, a, small, town, live, two, brothers,, one..."

#### Once we create the tag column, then the other 5 column are unnessery for our pourpus, so it's better to delete
#### and get a new dataset.

In [87]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()  # Correctly instantiate the PorterStemmer

In [88]:
new_movie= con_mov_df[["id","title","tags"]]

In [89]:
new_movie

,id,title,tags
0,862,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,..."
15,8844,Jumanji,"[When, siblings, Judy, and, Peter, discover, a..."
77,15602,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ..."
145,31357,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ..."
151,11862,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr..."
...,...,...,...
3958783,222848,Caged Heat 3000,"[It's, the, year, 3000, AD., The, world's, mos..."
3958832,30840,Robin Hood,"[Yet, another, version, of, the, classic, epic..."
3959125,111109,Century of Birthing,"[An, artist, struggles, to, finish, his, work,..."
3959178,67758,Betrayal,"[When, one, of, her, hits, goes, wrong,, a, pr..."
3959201,227506,Satan Triumphant,"[In, a, small, town, live, two, brothers,, one..."

In [90]:
# Now convert the tags column from list to string
new_movie["tags"] = new_movie["tags"].apply(lambda x:" ".join(x))

In [91]:
new_movie["tags"].iloc[0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. TomHanks TimAllen DonRickles JohnLasseter jealousy toy boy friendship friends rivalry boynextdoor newtoy toycomestolife Animation Comedy Family"

In [92]:
new_movie["tags"] = new_movie["tags"].apply(lambda x:x.lower())

In [93]:
def stem(text):
    z = []
    for i in text.split():  # Iterate over each word in the text
        z.append(ps.stem(i))  # Stem the word and append to the list
    return " ".join(z)  # Join the stemmed words into a single string and return

In [94]:
new_movie["tags"] = new_movie["tags"].apply(stem)

## Vectorisation of the columns

In [96]:
from sklearn.feature_extraction.text import CountVectorizer

In [97]:
cv= CountVectorizer(max_features = 5000, stop_words ="english")

In [98]:
vectors= cv.fit_transform(new_movie["tags"]).toarray()

In [99]:
vectors.shape

(38843, 5000)

In [100]:
name= cv.get_feature_names_out()
print(name)

['000' '10' '100' ... 'zombies' 'zone' 'zoo']

###### Now I will calculate the cosine distance instead of the Euclidean distance because, in higher-dimensional data, Euclidean distance is not always the best measure. Using cosine distance, I'll determine the angle (θ=theta) between two movies; a smaller angle indicates greater similarity.

In [102]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_bv = cosine_similarity(vectors)
print(type(similarity_bv))
# Change into int32. 
similarity = similarity_bv. astype('int16')  
print(similarity.shape)
print(similarity)

<class 'numpy.ndarray'>
(38843, 38843)
[[1 0 0 ... 0 0 0]
 [0 1 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 1 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 1]]

In [103]:
def recommendation(movie):
    movie_index = new_movie[new_movie['title']== movie].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)), key=lambda x: x[1], reverse=True)[1:6]


    for i in movie_list:
        print (new_movie.iloc[i[0]].title)

In [104]:
recommendation("Toy Story")

Jumanji
Grumpier Old Men
Waiting to Exhale
Father of the Bride Part II
Heat

In [105]:
new_movie.head()

,id,title,tags
0,862,Toy Story,"led by woody, andy' toy live happili in hi roo..."
15,8844,Jumanji,when sibl judi and peter discov an enchant boa...
77,15602,Grumpier Old Men,a famili wed reignit the ancient feud between ...
145,31357,Waiting to Exhale,"cheat on, mistreat and step on, the women are ..."
151,11862,Father of the Bride Part II,just when georg bank ha recov from hi daughter...

In [106]:
import pickle

In [107]:
pickle.dump(new_movie,open("Movie.pkl",'wb'))

In [108]:
import os

# Get absolute path
file_path = 'movie.pkl'  # Replace with your file's relative path
absolute_path = os.path.abspath(file_path)

print("Absolute Path:", absolute_path)

Absolute Path: C:\Users\arpan\United Mentor Project\movie.pkl

In [109]:
with open("sim_5000.pkl", 'wb') as f:
    pickle.dump(similarity, f, protocol=pickle.HIGHEST_PROTOCOL)